.rating_container {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary);
}

.rating_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%; 
}

.rating_icon {
    width: 2rem;
    height: 2rem;
    color: var(--color-secondary)

}

.rating_value {
    font-weight: bold;
    color: white;
    font-size: 28px;
    margin: 0;
}

.rating_category {
    color: white;
    font-size: 18px;
    margin: 0;
}

@media screen and (min-width: 800px) {
    .rating_category {
        font-size: 28px;
    }
}